Preliminary Touches...


    * PYTHON IDLE/PyCharm [PYTHON 3.5+]
    
    * FIXER.IO Acc. for CURRENCY-API-TOKEN (Free)
                Access current currency data for any location[country] based on unique currency-country-codes.
                1000 API-Calls/month, Hourly Updates, Limited Support, Historical Data (For Free subscription!)
                [Available for both Free and paid subscriptions.]
                
                LINK:  https://fixer.io/product
                
    * Python Modules Required:
        
                ~ PYPI Requests 2.25.1 (updated till date) 
                                                    
                                                    -- LINUX TERMINAL COMMAND -->              $ pip install requests
                                                    -- WINDOWS COMMAND_PROMPT CODE -->         $ py -m pip install requests   OR   $ python -m pip install requests
                                                    
                                                    
                                                    -- To upgrade PIP Module to the latest version -->
                                                    
                                                                                               $ py -m pip install --upgrade pip  (WINDOWS)
                                                                                               
                                                                                               $ (sudo) python3 -m pip install --upgrade pip       (For LINUX PYTHON-3)
                                                                                               $ (sudo) python2 -m pip install --upgrade pip       (For LINUX PYTHON-2)
                                                                                               
    * Many Third-party PYPI Modules are also available! [NOT USED HERE]
      Eg:
      
                ~ PYPI CurrencyConverter 0.14.4 (updated till date) 
                
                                                    -- INSTALLATION COMMAND -->                $ pip install CurrencyConverter
